{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Renamer</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Link Custom CSS (styles.css) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Tech Society - AI Dataset Creator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                        </li>
                        <!-- Add additional navigation links here -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h3>Rename Images</h3>
        <li> Simply rename the image to the register number in the image</li>
        <li> If the given image is upside down, then rename and then add <b>"_upside-down"</b> in the end.<br>(eg. 212220230031_upside-down)</li>
        <li>If there is no register number in the image, rename it as <b>"Empty"</b></li>
        <h4>Pending Images to rename:<b> {{ pending_files }} </b></h4>
        <div class="image-list">
            {% if image_files %}
                <ul class="list-group">
                    {% for image_file in image_files %}
                        <li class="list-group-item">
                            <a href="{% url 'rename_image' image_name=image_file %}">
                                <!-- Load image from media folder -->
                                <img src="media/original_images/{{ image_file }}" alt="{{ image_file }}"class="img-thumbnail">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No images available for renaming.</p>
            {% endif %}
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer bottom py-3 bg-light" style="height: fit-content;">
        <div class="container text-center">
            <span class="text-muted">Copyright &copy; 2024 Saveetha Engineering College - Tech Society</span>
        </div>
    </footer>
    <!-- Include Bootstrap JavaScript at the end of the body section -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
