{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rename Image</title>
    <!-- Import local Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1>Rename Image</h1>
        <img src="../../media/original_images/{{ image_file }}" alt="{{ image_file }}" class="img-thumbnail">
        <p>Current Name: {{ image_file }}</p>
        <form id="renameForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="newName">New Name:</label>
                <input type="text" id="newName" name="newName" class="form-control" required>
            </div>
            <!-- Display character count -->
            <span id="charCount">0</span> characters entered.
            <div class='align-center my-3 text-center'>
                <button type="button" class="btn btn-success justify-center align-center" id="confirmBtn">Save</button>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <footer class="footer fixed-bottom py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">Copyright &copy; 2024 Saveetha Engineering College - Tech Society</span>
        </div>
    </footer>
    <!-- Import local jQuery -->
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <!-- Import local Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Add event listener to the input field
            $("#newName").on("input", function() {
                // Update the character count
                var charCount = $(this).val().length;
                $("#charCount").text(charCount);
            });

            // Add event listener to the save button
            $("#confirmBtn").click(function() {
                // Validate the input format before submitting the form
                var newName = $("#newName").val().trim();
                var isValidFormat = /^[0-9]{12}$|^Empty$|^[0-9]{12}_upside-down$/.test(newName);
                if (!isValidFormat) {
                    alert("Invalid format! Please enter a 12-digit number, 'Empty', or a 12-digit number followed by '_upside-down'.");
                    return;
                }

                // Display a confirmation dialog
                if (confirm("Are you sure you want to save?")) {
                    // If user confirms, submit the form
                    $("#renameForm").submit();
                }
            });
        });
    </script>
</body>
</html>
